  
<!DOCTYPE html>
<!-- Comment body based off bootstrap snippet: 
https://bootsnipp.com/snippets/g68X5

and

https://bootsnipp.com/snippets/ZkexO
-->
<HTML lang="en">



<body>
<div class= container>

	<div class="post-comments">



			    <!-- first comment -->
				<h2 class = "engirls_font_large">{{ comments.paginator.count }} Comments </h2>

				{% if comments %}
					{% for comment in comments %}
						<div class = "row">
						  	<div class="media">

						  	<div class= container>		    
						  		<div class = "row">
								    <div class="media-heading">
								      <span class="glyphicon glyphicon-minus" aria-hidden="true"></span> 
								      	{{ comment.created_on|date:"d-m-Y" }} by: {{ comment.user.first_name }}
								      <span class="badge badge-primary">Likes - TODO</span>
								    </div>
							    </div> 


							    <div class = "row">
								    <div class="media-body">
									    <p> {{ comment.body }} </p>

									    <div class="comment-meta">
									        <span><a href="#">delete</a></span>
									        <a class="" role="button" data-toggle="collapse" href="#replyCommentt" aria-expanded="false" aria-controls="collapseExample">reply</a>
									    </div>
								    </div>
								</div>

								<div class = "row">
							    	<!-- replies -->
									<div class="media">
										<div class = "container">
											<div class="media-heading">
												TODO: 
												<span class="badge badge-primary">Likes - todo</span> 
											</div>
											<div class="media-body">
												<small><p>second comment</p></small>
												<div class="comment-meta">
													<span><a href="#">delete</a></span>
													<span>
														<a class="" role="button" data-toggle="collapse" href="#replyCommentThree" aria-expanded="false" aria-controls="collapseExample">reply</a>
													</span>
												</div>
											</div>
										</div>
									</div>
								</div>

							</div>
						     <!-- media -->
						    </div>


						<!-- row -->
						</div>   
					{% endfor %}

				{% else %}
					<h1 class = "engirls_font_large" >Start a conversation? </h1>  	
				{% endif %}


	<!-- post container -->
	</div>


	<div class = row>
		<div class= "col-sm-3">
			<ul class="pagination">
				{% if comments.paginator.num_pages > 1 %}
					<div class = "col-xs-1 col-md-2 col-lg-3 engirls_font_norm">
						#
					</div>
					{% for num in comments.paginator.page_range %}
						<div class = "col-xs-1 col-md-2 col-lg-3 engirls_font_norm">
						{% if comments.number == num %}
							<!-- <button class="button-submit pagination_submit btn-outline-light btn-sm"> {{ num }}</button> -->
							 <a class="text-primary my_pagination_submit" href="#" > {{ num }} </a> 
						{% else %}
							<!-- <button class="button-submit pagination_submit btn-outline-dark btn-sm"> {{ num }}</button> -->
							<a class="text-secondary my_pagination_submit"  href = "#">{{ num }}</a> 
						{% endif %}
						</div>
					{% endfor %}
				{% endif %}
			</ul>

	</div>	

<!-- end container -->
</div>




</body>

<script type="text/javascript">
$(".my_pagination_submit").on('click', function(e) {
    e.preventDefault();
    page_num = $.trim($(this).text());
    render_comment_list(page_num);

      return false;
  });



</script>

