<!DOCTYPE html>
<!-- Comment body based off bootstrap snippet: 
https://bootsnipp.com/snippets/g68X5

and:

https://bootsnipp.com/snippets/ZkexO
-->
<HTML lang="en">	


<body>
<!-- replies -->
<div class="media">
	<div class = "container">
		<div class="media-heading">
			TODO: 
			<span class="badge badge-primary">Likes - todo</span> 
		</div>
		<div class="media-body">
			<small><p>second comment</p></small>
			<div class="comment-meta">
				<span><a href="#">delete</a></span>
				<span>
					<a class="" role="button" data-toggle="collapse" href="#replyCommentThree" aria-expanded="false" aria-controls="collapseExample">reply</a>
				</span>
			</div>
		</div>
	</div>
</div>
</body>


<style>

</style>

<body>

</body>


<script>
</script>
