{% extends "base.html" %}
{% block main_content %}

<!-- Feel free to edit this html as you see fit  -->
<div class = "page-header text-center engirls_font_large">Meet The Engirls!</div>
<div class = "container">
	<div class = "row">
		<div class = "col-sm-lg">
			<div class = "shadow rounded px-5 py-4" style= "background-color: #FAFAFA; display:inline-block;">
					{{ content.body | safe }}
			</div>
		</div>
	</div>
</div>

<script>
$(document).ready(function(){
  //Make sure images don't become oversized... 
  $("img").addClass("img-fluid");


});
</script>

{% endblock %}

{% block footer %}
    {% include "footer.html" %}
{% endblock %}