{% extends "base.html" %}
{% block main_content %}

{% load static %}

<link href="{% static 'css/blog-post.css' %}" rel="stylesheet">

  <!-- Page Content -->
  <div class="container">

    {% if comic_panel %}

      <div class="row">

        <div class="col">        
          <!-- Title -->
          <div class="mt-4 engirls_font_large">
            <h1>{{ comic_panel.title }}</h1> <small><p>{{ comic_panel.uploadTime }}</p></small>
          </div>

          <hr>
          <!-- col -->
        </div>
        <!-- row -->
      </div>
      <div class="row">
        <div class="col-sm-8">
          <!-- FB Share. 
            More info here: https://developers.facebook.com/docs/plugins/share-button/#
          -->
          <meta property="og:url"           content="{{ request.get_path }}" />
          <meta property="og:type"          content="website" />
          <meta property="og:title"         content="The Engirls" />
          <meta property="og:description"   content="Check out this engirls page!" />
          <meta property="og:image"         content="{{ comic_panel.image.url }}" />         
            <!-- Preview Image -->
        <div class="fb-share-button" data-href="{{ request.get_path }}" data-layout="button_count" data-size="small">
          <a target="{{ request.get_path }}" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a>
        </div> 


          <div class="shadow">
              {% if comic_panel.youtube_url %}
                <iframe src="{{ comic_panel.youtube_url }}" frameborder="0" allowfullscreen> </iframe>
              {% else %}

                <img class="rounded img-fluid" src="{{ comic_panel.image.url }}" title = "{{ comic_panel.caption }}" >

              {% endif %}
              
            
          </div>
          <hr>  

          <div class = "container">
            <div class = "row">
               <!-- Button to oldest comic -->
               {% if oldest_comic_pk != comic_panel.pk and oldest_comic_pk != -1 %}
                  <div class = "col-3 engirls_font_small">
                    <a href="{% url 'comics:view_panel' comic_pk=oldest_comic_pk %}" role="button" class="btn btn-outline-dark btn-sm shadow"> << First </a>
                  </div>
                  {% if prev_comic_pk != -1 %}
                    <div class = "col-3 engirls_font_small">
                      <a href="{% url 'comics:view_panel' comic_pk=prev_comic_pk %}" role="button" class="btn btn-outline-dark btn-sm shadow"> < Prev </a>
                    </div>
                  {% endif%}
               {% endif %}
              <!-- Button to previous comic -->
              {% if newest_comic_pk != comic_panel.pk and newest_comic_pk != -1%}
                  {%  if next_comic_pk != -1%}
                    <div class = "col-3 engirls_font_small">
                      <a href="{% url 'comics:view_panel' comic_pk=next_comic_pk %}" role="button" class="btn btn-outline-dark btn-sm shadow"> Next > </a>
                    </div>
                  {% endif %}
                  <div class = "col-3 engirls_font_small">
                    <a href="{% url 'comics:view_panel' comic_pk=newest_comic_pk %}" role="button" class="btn btn-outline-dark btn-sm shadow"> Newest >> </a>
                  </div> 
              {% endif %}
              <!-- row --> 
            </div>            
             
              <!-- Container -->
          </div>
          <hr>                  

          <!-- Description -->
          <div class = "engirls_font_norm">
            Description:
          </div>          
          <div class = "rounded px-4 py-4" style= "background-color: #FAFAFA; width:100%;">
            <!-- <div class="card-body"> -->
                {{ comic_panel.description | safe }} 
            <!-- </div> -->

            <!-- card -->
          </div>

        <!-- col-sm -->
        </div> 

         <!-- 3rd column - Comments -->
        <div class = "col-sm py-2">
          {% if user.is_authenticated %}
          <div class = "comment_form ml-2">
            <p>
              Logged as {{ user.username }}
                
              <a href="/logout/?next={{request.path}}"><small>Logout</small></a>
            </p>

            {% if max_comments %}
              <p class = "text-warning"> You have reached the maximum alloted comments for this Item </p>
            {% endif %}

            <br>

              <form action = "" method="POST"> 
                  {% csrf_token %}
                  {% for field in comment_form %}
                    <div class = "row engirls_font_small">
                      {{ field.label }}
                    </div>
                    <div class = "row">
                      {{ field }}
                  {% endfor %}  
                  <button id="post_comment" type="submit" class="button-submit btn-outline-dark btn-sm">post</button>
                    </div>
              </form>
          </div>
            <!-- if user is not authenticated -->
            {% else %}
              <div class="engirls_font_small">
                <div class = "container" id = "social_login_container">
                  Please Login to Comment:
                  <div class = "row">
                    <div class = "col-sm">
                      <a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}"><img src="https://img.icons8.com/plasticine/48/000000/google-logo.png"></a>
                      <a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}"><img src="https://img.icons8.com/doodle/48/000000/facebook-new.png"></a>
                    </div>                    
                  </div>
                </div> 
              </div>
            {% endif %}
            <div id = "comment_list"></div>
            <a name="comment_start"></a>
          <!-- col -->
          </div>  

        <!-- row -->     
        </div>
       
    <!-- If no comic Pk -->
    {% else %}

      <div class = "col-sm-3"></div>
      <div class = "col-sm text-center">
        <div class = "engirls_font_large"> Looks like there is no comic here :( </div>
      </div>
      <div class = "col-sm-3"></div>

    {% endif %}

  </div>
  <!-- /.row -->
   
</div>
<!-- /.container -->
<script>


// Render the list of comments via ajax
function render_comment_list(page_num=1){
  //if( {{ comic_panel }} != null){
    $("#comment_list").load('/comments/comics/{{ comic_panel.pk }}/' + page_num + '/');
}

// Post and render the comment list upon clickin the post comment button
$("#post_comment").on('click', function(e) {
    e.preventDefault();
    var form = $(this).closest("form");
     $.ajax({
            url: '/comments/comics/{{ comic_panel.pk }}/1/',
            type: 'POST',
            data: form.serialize()
        }).done(function(data) {
          $('#id_body').val('');
          render_comment_list();
        });
      return false;
  });


$(document).ready(function(){
  render_comment_list();
});

 
</script>


{% endblock %}

{% block footer %}
    {% include "footer.html" %}
{% endblock %}