{% extends "base.html" %}
{% block main_content %}

	{% load static %}
  	<!-- Bootstrap core CSS -->
  	<link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  	<link href="{% static 'css/blog-post.css' %}" rel="stylesheet">

  	<div class ="container py-5">
  		<!-- Pictures -->
			<div class = "card-deck">
			{% if comics %}
				{% for comic in comics %}									

					<div class="col-sm-4 col-md-3 col-lg-3"> 
					<!-- <div class="w-100 d-none d-sm-block d-md-none"></div> -->
					<div class="card mb-4 shadow">
								
								<a href="{% url 'view_panel' comic_pk=comic.pk %}">
									{% if comic.thumbnail %}
	     								<img class="card-img-top img-fluid" style = "max-height: 200px;" src="{{ comic.thumbnail.url }}" />	
									{% else %}	
										<div class = "col text-center">
											<h5 class= "engirls_font_large"> No image available</h5>
										</div>
										
									{% endif %}
	     						</a>
	  						<!-- </div> -->  					
	  					<div class = "card-header engirls_font_norm"><h5> {{ comic.title }}</h5> </div>					
					</div> 
				<!-- </div> -->
				</div>
				{% endfor %}
				
			{% else %}
				<div class = row>
	        		<div class = "col"></div>
	       		    <div class = "col my-4 text-center">
	         		 <p class = "lead engirls_font_large"> Looks like you don't have any comics! Upload some? </p>
	        		</div>
	        		<div class = "col"></div>	
        		</div>		
			{% endif %}
		
	<!-- row -->


   </div>


<!-- container-->

<div class="container">
	<div class = "row py-3">
    <div class="pagination">
    	<div class = col-xs-4></div>
      {% if comics.paginator.num_pages > 1 %}
      	<div class = "col-xs-4 col-md-4 col-lg-4 engirls_font_norm">
	      	#
	     </div>
			{% for num in comics.paginator.page_range %}
				<div class = "col-xs-2 col md-3 col-lg-4 engirls_font_norm">
					{% if comics.number == num %}
						<a class="active pagination_submit"><a href="" >{{ num }}</a></a>
					{% else %}
						<a class="pagination_submit">{{ num }}</a>
					{% endif %}
				</div>
			{% endfor %}
		</div>
	{% endif %}
	</div>
</div>
</div>
<script> 
//Show this page as active

/*
$("#nav-gallery-link").addClass("active");

// When num link is clicked, re-fire form submit
$(".pagination_submit").click(function() {
	page_num = $.trim($(this).text());

	$("#search_submit").on("click", function(e){
    	e.preventDefault();
    	$('#search_form').attr('action', "comics/archive/" + page_num + "/").submit();
	});
	$("#search_submit").trigger("click");
});
</script>

 <!-- Bootstrap core JavaScript -->
 <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
 <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

 {% endblock %}