{% extends "base.html" %}
{% block main_content %}

{% load static %}
<!-- Bootstrap core CSS -->
<link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'css/blog-post.css' %}" rel="stylesheet">


  <!-- Page Content -->
  <div class="container">

    {% if comic_panel %}

      <div class="row">

        <div class="col">        
          <!-- Title -->
          <div class="mt-4 engirls_font_large">
            <h1>{{ comic_panel.title }}</h1> <small><p>{{ comic_panel.uploadTime }}</p></small>
          </div>

          <hr>
          <!-- col -->
        </div>
        <!-- row -->
      </div>
      <div class="row">

        <div class="col-sm-8">
            <!-- Preview Image -->
          <div class="shadow">
            <img class="rounded img-fluid" src="{{ MEDIA_URL }}{{ comic_panel.image }}" alt="{{ comic_panel.caption }}">
          </div>
          <hr>  

          <div class = "container">
            <div class = "row">
               <!-- Button to oldest comic -->
               {% if oldest_comic_pk != comic_panel.pk %}
                  <div class = "col-3 engirls_font_small">
                    <a href="{% url 'comics:view_panel' comic_pk=oldest_comic_pk %}" role="button" class="btn btn-outline-dark btn-sm"> << First </a>
                  </div>
                  {% if prev_comic_pk != -1 %}
                    <div class = "col-3 engirls_font_small">
                      <a href="{% url 'comics:view_panel' comic_pk=prev_comic_pk %}" role="button" class="btn btn-outline-dark btn-sm"> < Prev </a>
                    </div>
                  {% endif%}
               {% endif %}
              <!-- Button to previous comic -->
              {% if newest_comic_pk != comic_panel.pk %}
                  {%  if next_comic_pk != -1%}
                    <div class = "col-3 engirls_font_small">
                      <a href="{% url 'comics:view_panel' comic_pk=next_comic_pk %}" role="button" class="btn btn-outline-dark btn-sm"> Next > </a>
                    </div>
                  {% endif %}
                  <div class = "col-3 engirls_font_small">
                    <a href="{% url 'comics:view_panel' comic_pk=newest_comic_pk %}" role="button" class="btn btn-outline-dark btn-sm"> Newest >> </a>
                  </div> 
              {% endif %}
              <!-- row --> 
            </div>            
             
              <!-- Container -->
          </div>
          <hr>                  

          <!-- Description -->
          <div class="card my-4">
            <div class="card-body">
                {{ comic_panel.description | safe }} 
            </div>

            <!-- card -->
          </div>

        <!-- col-sm -->
        </div> 

         <!-- 3rd column - Comments -->
        <div class = "col-sm py-2">
          <div class = "comment_form ml-2">
            {% if user.is_authenticated %}
            <form action = "" method="POST"> 
                {% csrf_token %}
                {% for field in comment_form %}
                  <div class = "row engirls_font_small">
                    {{ field.label }}
                  </div>
                  <div class = "row">
                    {{ field }}
                {% endfor %}  
                <button id="post_comment" type="submit" class="button-submit btn-outline-dark btn-sm">post</button>
                  </div>
            </form>
            <!-- if user is not authenticated -->
            {% else %}
              <div class="engirls_font_small">
                Please Login to Comment:<br>
                <a href="{% url 'social:begin' 'facebook' %}"><img src="https://img.icons8.com/doodle/48/000000/facebook-new.png"></a>
              </p>
            {% endif %}
            </div>
            <div id = "comment_list"></div>
            <a name="comment_start"></a>
          </div>       
        </div>
       
    <!-- If no comic Pk -->
    {% else %}

      <div class = "col-sm-3"></div>
      <div class = "col-sm text-center">
        <div class = "engirls_font_large"> Looks like there is no comic here :( </div>
      </div>
      <div class = "col-sm-3"></div>

    {% endif %}

  </div>
  <!-- /.row -->
   
</div>
<!-- /.container -->
<script>


// Render the list of comments via ajax
function render_comment_list(page_num=1){
  if( {{ comic_panel }} != null){
    $("#comment_list").load('/comics/comments/{{ comic_panel.pk }}/' + page_num + '/');
  } 
}

// Post and render the comment list upon clickin the post comment button
$("#post_comment").on('click', function(e) {
    e.preventDefault();
    var form = $(this).closest("form");
     $.ajax({
            url: '/comics/comments/{{ comic_panel.pk }}/1/',
            type: 'POST',
            data: form.serialize()
        }).done(function(data) {
          $('#id_body').val('');
          render_comment_list();
        });
      return false;
  });


$(document).ready(function(){
  render_comment_list();
});


 
</script>
<!-- Bootstrap core JavaScript -->
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

{% endblock %}
