{% extends "base.html" %}
{% block main_content %}

	{% load static %}
  	<!-- Bootstrap core CSS -->
  	<link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  	<link href="{% static 'css/blog-post.css' %}" rel="stylesheet">


  	<div class ="container pt-1">
		<!-- Search -->
		<div class="row">
			  <div id="search_menu"> <p><button type="submit" class="btn btn-outline-dark" >Search Options</button></p></div>

			  <div id = "collapsible" style="display:none">
				<nav class="navbar navbar-light bg-light justify-content-between">
						<form class="form-inline ml-sm-2" method="POST" id = "search_form">
							{% csrf_token %}
							 <ul class="navbar-nav mr-3">
							{% for field in form %}
							     
      							  <li class="nav-item engirls_font_norm"> 
							        {{ field.errors }}
							        {{ field.label_tag }} {{ field }}
							        {% endif %}
							    </li>
							{% endfor %}
							</ul>
						<button type="submit" class="btn btn-outline-dark" id = "search_submit">Search</button>
						</form>
					
				</nav>
			    </div>
			  </div>

			
		<!-- row -->
		</div>
  	</div>

	<!-- Cards -->
  	<div class ="container py-4">

	<div class = "row">
  		<!-- Pictures -->
			<div class = "card-deck">
			{% if comics %}
				{% for comic in comics %}									

					<div class="col-sm-1 col-md-2 col-lg-3 " style = "min-width: 175px;"> 
					<!-- <div class="w-100 d-none d-sm-block d-md-none"></div> -->
						<div class="card mb-sm-3 mb-md-4 mb-lg-5 shadow" style="max-width:200px;min-width:150px;" >
								
								<a href="{% url 'view_panel' comic_pk=comic.pk %}">
									{% if comic.thumbnail %}
	     								<img class="card-img-top img-fluid" style ="max-height: 150px;" src="{{ comic.thumbnail.url }}" />	
									{% else %}	
										<div class = "col text-center">
											<h5 class= "engirls_font_large"> No image available</h5>
										</div>
										
									{% endif %}
	     						</a>
	  						<!-- </div> -->  					
	  					<div class = "card-header engirls_font_norm"><h5> {{ comic.title }}</h5> </div>					
					</div> 
				<!-- </div> -->
				</div>
				{% endfor %}
			
			</div>
			{% else %}
				<div class = row>
	        		<div class = "col"></div>
	       		    <div class = "col my-4 text-center">
	         		 <p class = "lead engirls_font_large"> Looks like you don't have any comics! Upload some? </p>
	        		</div>
	        		<div class = "col"></div>	
        		</div>		
			{% endif %}
		
	<!-- Card deck -->
	</div>

	<div class = "row py-3 ml-2">
    <div class="pagination">
      {% if comics.paginator.num_pages > 1 %}
      	<div class = "col-xs-1 col-md-2 col-lg-3 engirls_font_norm">
	      	#
	     </div>
			{% for num in comics.paginator.page_range %}
				<div class = "col-xs-1 col-md-2 col-lg-3 engirls_font_norm">
					{% if comics.number == num %}
						<a class="active pagination_submit"><a href="" >{{ num }}</a></a>
					{% else %}
						<a class="pagination_submit">{{ num }}</a>
					{% endif %}
				</div>
			{% endfor %}
		</div>
	{% endif %}
	</div>	
<!-- container-->
   </div>

<div class="container">

</div>

<script> 
$("#nav-gallery-link").addClass("active");

// When num link is clicked, re-fire form submit
$(".pagination_submit").click(function() {
	page_num = $.trim($(this).text());

	$("#search_submit").on("click", function(e){
    	e.preventDefault();
    	$('#search_form').attr('action', "{% url 'view_archive' %}").submit();
	});
	$("#search_submit").trigger("click");
});
$('#search_menu').click(function(){
    $(this).next().slideToggle();
    $(this).hide();
    return false;
});
</script>

 <!-- Bootstrap core JavaScript -->
 <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
 <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

 {% endblock %}