/******************
  Animations
*******************/
@keyframes title {
  0% {
    transform: translateX(-200%);
  }
  25%{
    transform: translateX(-25%);
  }
  30%{
    transform:translateX(0%);
  }
  35%{
    transform:translateX(6%);
  }
  40%{
    transform:translateX(10%);
  }
  50%{
    transform: translateX(13%);
  }
  75%{
    transform: translateX(14%);
  }
  80%{
    transform: translateX(-2%);
  }
  85%{
    transform:translateX(-3%);
  }
  90%{
    transform:translateX(-4%);
  }
  95%{
    transform:translateX(1%);
  }
  97%{
    transform:translateX(-1%);
  }
  100%{
    transform:translateX(0);
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }

  50%{
    transform: translateX(-25%);
  }
  90%{
    transform: translateX(-5%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromTop {
  0%{
    transform: translateY(-100%);
  }
  50%{
    transform:translateY(-25%);
  }
  90%{
    transform:translateY(-5%);
  }
  100% {
    transform:translateY(0);
  }
}

.title_animation{
   animation: 2s ease-out 0s 1 title;
}

.slide_left {
  animation: 1s ease-out 0s 1 slideInFromLeft;
}

.slide_top {
  animation: 1s ease-out 0s 1 slideInFromTop;
}



/*******************
  iframe
*********************/
iframe {
  display: block;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  margin: 0;
  padding: 0;
  border: 0 none;
  box-sizing: border-box;
}

/*******************
  Comments + Replies
*********************/
.post-comments {
  padding-bottom: 9px;
  margin: 5px 0 5px;
}


.post-comments .comment-meta {
  border-bottom: 1px solid #FFF;
  margin-bottom: 10px;
}

.post-comments .media {
  border-left: 1px dotted #FFF;
  border-bottom: 1px dotted #FFF;
  margin-bottom: 10px;
  padding-left: 15px;
}

.post-comments .media-heading {
  color: grey;
}

.post-comments .comment-meta a {
  color: grey;
  font-weight: bolder;
  margin-right: 5px;
}

.post-comments .reply {
  color: #7A797A;
}


/*******************
  Default Website
*********************/
.theengirls_meta{
  color: grey;
  font-weight: bolder;
  margin-right: 5px;  
}

.theengirls_background{
    background-color: #EEE6E4;
}

.comic_panel{
  width: 100%;
  height: auto; 
}

.engirls_font_small{
  font-family: 'Neucha', cursive;
  font-size: 15px;
}

.engirls_font_norm{
  font-family: 'Neucha', cursive;
  font-size: 20px;
}

.engirls_font_large{
  font-family: 'Neucha', cursive;
  font-size: 40px;
}

#my-page-container {
  position: relative;
  min-height: 100vh;
}

#my-content-wrap {
  padding-bottom: 100px;
}



/*******************
  Card Animation
*********************/

.jumbotron{
  cursor:pointer;
  transition:all .4s ease-in-out;
}

.jumbotron:hover, .jumbotron:active{
  transform:scale(1.05);
  box-shadow:10px 10px 10px #888888;
}

.card{
  cursor:pointer;
  transition:all .4s ease-in-out;
}

.card:hover, .card:active{
  transform:scale(1.05);
  box-shadow:10px 10px 10px #888888;
}



/************
FOOTER
*************/

footer {
  background: #EEE6E4;
  color: white;

  position: absolute;
  bottom: 0;
  width: 100%;

}

footer a {
  color: #9452F9;
  font-size: 9px;
  transition-duration: 0.2s;
}

footer a:hover {
  color: #FA944B;
  text-decoration: none;
}

.copy {
  font-size: 12px;
  padding: 10px;
  border-top: 1px solid #FFFFFF;
}

.footer-middle {
  padding-top: 2em;
  color: black;
}


/***********************
  footer social icons
************************/

ul.social-network {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  padding: 0;
}

ul.social-network li {
  display: inline;
  margin: 0 5px;
}


/* footer social icons */

.social-network a.icoFacebook:hover {
  background-color: #3B5998;
}

.social-network a.icoLinkedin:hover {
  background-color: #007bb7;
}

.social-network a.icoIG:hover {
  background-color: #C01ACA;
}
.social-network a.icoFacebook:hover i,
.social-network a.icoLinkedin:hover i {
  color: #fff;
}
.social-network a.icoIG:hover i {
  color: #fff;
}

.social-network a.socialIcon:hover,
.socialHoverClass {
  color: #44BCDD;
}

.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 30px;
  height: 30px;
  font-size: 15px;
}

.social-circle li i {
  margin: 0;
  line-height: 30px;
  text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}

.social-circle i {
  color: #595959;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}

.social-network a {
  background-color: #F9F9F9;
}