<!DOCTYPE HTML>
<html lang="en">
<head>
	<!-- 
╭━┳━╭━╭━╮╮
┃┈┈┈┣▅╋▅┫┃
┃┈┃┈╰━╰━━━━━━╮
╰┳╯┈┈┈┈┈┈┈┈┈◢▉◣
╲┃┈┈┈┈┈┈┈┈┈▉▉▉     What are you looking at? 
╲┃┈┈┈┈┈┈┈┈┈◥▉◤
╲┃┈┈┈┈╭━┳━━━━╯
╲┣━━━━━━┫﻿
  -->
<title>The Engirls</title>
<meta charset="utf-8">
<meta name="viewport" content="initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0,width=device-width">
  

  <!-- To Load custom Static files. Use this: --> 
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" /> 

<!-- JQuery -->
<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>

<!-- popper -->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

<!-- bootstrap js -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>  

<!-- Google fonts -->
<link href="https://fonts.googleapis.com/css?family=Neucha&display=swap" rel="stylesheet">

<!-- Bootstrap css -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


</head>

<body class="theengirls_background">

<!-- move this to style.css before deploy -->
<style>

</style>

<!-- FB Share -->
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v6.0"></script>

   <nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow">
    <a class="navbar-brand" href="/"> 
      <h5 class = "engirls_font_large"> The Engirls </h5> 
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-3" id ="id_the_engirls_nav">

        <li class="nav-item engirls_font_norm">
          <a class="nav-link ml-3" href="{% url 'comics:comic_index' %}"> Latest <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item engirls_font_norm">
          <a class="nav-link ml-3" href="{% url 'comics:view_archive' %}"> Archive </a>
        </li>

        <li class="nav-item engirls_font_norm">
          <a class="nav-link ml-3" href="{% url 'blog:view_posts' %}"> Blog </a>
        </li>
      </ul> 

    </div>
  </nav>

<div id="my-page-container">
  <div id ="my-content-wrap" class = "">

    {% block main_content %}
    {% endblock %}
    <!-- The best solutions are often the simplist -->
    <div style = "height:100px"></div>

    {% block footer %}
    {% endblock %}

  </div>
</div>

<script>
// Load value of comments/num_likes/comment_pk into div
function get_content(comment_pk){

}

$(document).ready(function(){
  // Retreive dynamic content nav items
  //alert("Doc ready! ")
  $.getJSON( '/content/get_content/', function( data ) {
     $.each( data, function( key, val ) {
        $("#id_the_engirls_nav").append('<li class=\"nav-item engirls_font_norm\"> <a class=\"nav-link ml-3\" href=\"' + val +'\">' + key + '</a></li>');
      
     });
  });



});
</script>

</body>



</html>

