<!DOCTYPE HTML>
<html lang="en">
<head>
	<!-- 
╭━┳━╭━╭━╮╮
┃┈┈┈┣▅╋▅┫┃
┃┈┃┈╰━╰━━━━━━╮
╰┳╯┈┈┈┈┈┈┈┈┈◢▉◣
╲┃┈┈┈┈┈┈┈┈┈▉▉▉     What are you looking at? 
╲┃┈┈┈┈┈┈┈┈┈◥▉◤
╲┃┈┈┈┈╭━┳━━━━╯
╲┣━━━━━━┫﻿
  -->
  <title>The Engirls</title>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0,width=device-width">
  
  	
<!-- Bootstrap css -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<!-- bootstrap js -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>	


<!-- jquery -->
<script
        src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"></script>

<!-- Google fonts -->
<link href="https://fonts.googleapis.com/css?family=Neucha&display=swap" rel="stylesheet">

  
  <!-- To Load custom Static files. Use this: --> 
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" /> 


</head>

<!-- TODO: Move this to the main css -->
<style>

.post-comments {
  padding-bottom: 9px;
  margin: 5px 0 5px;
}


.post-comments .comment-meta {
  border-bottom: 1px solid #FFF;
  margin-bottom: 10px;
}

.post-comments .media {
  border-left: 1px dotted #FFF;
  border-bottom: 1px dotted #FFF;
  margin-bottom: 10px;
  padding-left: 15px;
}

.post-comments .media-heading {
  color: grey;
}

.post-comments .comment-meta a {
  color: grey;
  font-weight: bolder;
  margin-right: 5px;
} 

</style> 

<body class="theengirls_background">
<!-- FB Share -->
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v6.0"></script>



   <nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow">
    <a class="navbar-brand" href="#"> 
      <h5 class = "engirls_font_large"> The Engirls </h5> 
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-3">
        <li class="nav-item engirls_font_norm">
          <a class="nav-link ml-3" href="{% url 'comics:comic_index' %}">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item engirls_font_norm">
          <a class="nav-link ml-3" href="{% url 'comics:view_archive' %}">Archive </a>
        </li>
        <li class="nav-item engirls_font_norm">
          <a class="nav-link ml-3" href="{% url 'blog:view_posts' %}">Blog</a>
        </li>
        <li class="nav-item engirls_font_norm">
          <a class="nav-link ml-3" href="{% url 'about' %}">About The Author</a>
        </li>   
        <li class="nav-item engirls_font_norm">
          <a class="nav-link ml-3" href="{% url 'meet_the_engirls' %}">Meet The Engirls</a>
        </li>           
      </ul>
    </div>
  </nav>

<div id="my-page-container">
  <div id ="my-content-wrap" class = "">

    {% block main_content %}
    {% endblock %}

    <div style = "height:100px"></div>

    {% block footer %}
    {% endblock %}

  </div>
</div>

</body>



</html>





