  
<!DOCTYPE html>
<!-- Comment body based off bootstrap snippet: 
https://bootsnipp.com/snippets/g68X5
-->
<HTML lang="en">		 

<body>
<div class= container>
	<div class = "row">
		<div class="col-sm">
			<h1><small class="">{{ comments.paginator.count }} Comments </small></h1>
			<div class="comments-list">
				{% if comments %}
					{% for comment in comments %}
							<small>Posted on: {{ comment.created_on|date:"d-m-Y" }} by: {{ comment.name }}</small>
							<br>
							<div class="media">
				                <div class="media-comment">
				           	    	<p>{{ comment.body }}</p>
				                </div>

							</div>
						<hr>
					 {% endfor %}
				{% else %}
			    <div class = "media engirls_font_norm">
			    	 Start a conversation?
			    	 <hr>
			  	</div>
				{% endif %}
			<!-- end comment list -->
			</div>
		<!-- end col -->	
		</div>
	<!-- end row -->
	</div>

	<div class = row>
		<div class= "col-sm-3">
			<ul class="pagination">
				{% if comments.paginator.num_pages > 1 %}
					<div class = "col-xs-1 col-md-2 col-lg-3 engirls_font_norm">
						#
					</div>
					{% for num in comments.paginator.page_range %}
						<div class = "col-xs-1 col-md-2 col-lg-3 engirls_font_norm">
						{% if comments.number == num %}
							<!-- <button class="button-submit pagination_submit btn-outline-light btn-sm"> {{ num }}</button> -->
							 <a class="text-primary my_pagination_submit" href="#" > {{ num }} </a> 
						{% else %}
							<!-- <button class="button-submit pagination_submit btn-outline-dark btn-sm"> {{ num }}</button> -->
							<a class="text-secondary my_pagination_submit"  href = "#">{{ num }}</a> 
						{% endif %}
						</div>
					{% endfor %}
				{% endif %}
			</ul>
		</div>
	</div>	

<!-- end container -->
</div>



	

</body>

<script type="text/javascript">
$(".my_pagination_submit").on('click', function(e) {
    e.preventDefault();
    page_num = $.trim($(this).text());
    render_comment_list(page_num);

      return false;
  });
</script>

