<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Footer code based off: https://codepen.io/NamiqNamaz/pen/QZYyEq -->

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
   <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" >
</head>
<body>

<footer class="mainfooter shadow" role="contentinfo">
  <div class="footer-middle">
  <div class="container">
    <h3 class= engirls_font_norm> Follow Engirls on the Medias of Social:</h3>   
    <div class="row">
      <div class = "footer-pad">
        	<div class="col-md">
        		
                <ul class="social-network social-circle">
                 <li><a href="https://www.facebook.com/TheEngirls/" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                </ul>	
                <ul class="social-network social-circle">
                 <li><a href="https://www.instagram.com/theengirls/" class="icoIG" title="Instagram"><i class="fa fa-instagram"></i></a></li>
                </ul>              			
    		</div>
      </div>
  </div>
	<div class="row">
		<div class="col-md-12 copy">
		<small>	<p class="text-center">&copy; Copyright 2020 - The Engirls.  All rights reserved.
        <br>
       View our <a href = "{% url 'privacy_policy' %}"> Privacy Policy</a> </p></small>
		</div>
	</div>


  </div>
  </div>
</footer>
  
  
  </body>
</html>