<!DOCTYPE html>
<html lang="en">
<body>

<footer class="mainfooter shadow" role="contentinfo">
  <div class="footer-middle">
  <div class="container">
    <h3 class= engirls_font_norm> Follow Engirls on the Medias of Social:</h3>   
    <div class="row">
      <div class = "footer-pad">
        	<div class="col-md">
            <ul class="social-network social-circle">
              <li>
                <a href="https://www.facebook.com/TheEngirls/" class="icoFacebook" title="Facebook"><img src="https://img.icons8.com/android/48/000000/facebook-new.png"/></a>
                </li>
              </ul>

              <ul class="social-network social-circle">
                <li>
                  <a href="https://www.instagram.com/theengirls/" class="icoIG" title="Instagram"><img src="https://img.icons8.com/doodle/48/000000/instagram-new.png"/></a>
                </li>
              </ul>              			
    		</div>
      </div>
  </div>
	<div class="row">
		<div class="col-md-12 copy">
		<small>	
      <p> Icons powered by: <a href="https://icons8.com/">icons8.com</a></p>
      <p class="text-center">&copy; Copyright 2020 - The Engirls.  All rights reserved.
        <br>
       View our <a href = "{% url 'privacy_policy' %}"> Privacy Policy</a> </p></small>
		</div>
	</div>


  </div>
  </div>
</footer>
  
  
  </body>
</html>