<div class="row">

	<div class="col-sm-6" style="color:#292c34; font:30px/33px Arial, Helvetica, sans-serif; padding:0 0 23px">
	<p><a href="/comics/">
		<img alt="Photo by Grant Garnsey on September 04, 2017." class="rounded shadow-sm" src="https://instagram.faqp2-3.fna.fbcdn.net/v/t51.2885-15/e35/21434018_274599806376053_1436592519570784256_n.jpg?_nc_ht=instagram.faqp2-3.fna.fbcdn.net&amp;_nc_cat=105&amp;_nc_ohc=hDCMMTRoObkAX8tf10E&amp;oh=372a0b60cd8825acc600596411d9abdf&amp;oe=5EBC3130" style="object-fit:cover" /> </a></p>
	</div>

	<div class = "col-sm-8"  style="font:bold 30px/46px Arial, Helvetica, sans-serif; color:#fff; padding:0 0 6px;">
		Click The picture to find out moar!!
	</div>
	<div class="col-sm-6" style="color:#ffffff; font:bold 15px/23px Arial, Helvetica, sans-serif; padding:0 0 6px">
		<p>Laughs!</p>

		<p>Fun!</p>

		<p>Humor</p>

		<p>England!</p>

		<p>Fun!</p>
		... We have it all!
	</div>
</div>


