{% extends "base.html" %}
{% block main_content %}

{% load static %}
<!-- Bootstrap core CSS -->
<link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
<div class = "page-header text-center engirls_font_large"> Privacy Policy</div>
<div class = "container">
	<div class = "row">
		<div class = "col-sm-lg">
			<div class = "jumbotron shadow">
				<div class = "">
					<div id = "meet_the_engirls_source"></div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
function render_meet_the_engirls_source(){
  //if( {{ comic_panel }} != null){
    $("#meet_the_engirls_source").load('/meet_the_engirls_source/');
   
}	

$(document).ready(function(){
  render_meet_the_engirls_source();
});
</script>
{% endblock %}

{% block footer %}
    {% include "footer.html" %}
{% endblock %}