<!DOCTYPE HTML>
<html lang="en">
<head>
</head>
<body class = "engirls_font_small">
<p class = "lead"> Since you found yourself on this site, you might be asking yourself “Who are the Engirls and why should I care?”</p>

<p>
	The Engirls is a Webcomic about Three girls in a high school rock band and their shenanigans throughout the school year involving a bunch of stuff I haven’t fully written out yet. At its core, it’s about the friendship of three girls: Whitney Burton, Gwen Davies, and Fiona Carr.
</p>

<h2 class = "engirls_font_large"> Whitney Ethel Burton </h2>

{% load static %}
<p><img src = "{% static 'images/Whitney-Icon-1.png' %}" class = "shadow rounded-right"></p>
<br>

<p>
	The absent minded but talented guitarist of the group, Whitney is a little bit shy and has a hard time making even the most basic of small talk. Yet, when it comes to music, she’ll shred your ears to pieces without even picking up her guitar. Music drives Whitney’s soul, and you’ll forget about the meek, shy girl in the corner of the classroom as soon as she steps onstage. She lives with her overworked single mother and annoying little brother, Willem. Whitney’s guitar is a Squire Mustang, and her favorite bands are Paramore, Coheed and Cambria, Jimmy Eat World, My Chemical Romance, and Brand New.
</p>

<h2 class = "engirls_font_large">Gwendolyn Floyd Davies</h2>
<p><img src = "{% static 'images/GwenIcon-1.png' %}" class = "shadow rounded-right"></p>
<br>

<p>
	Gwen might have been adopted into a rich family, but her sisters make sure she knows she’s the black sheep of the Davies residence atop Sapphire Hills. Still, Gwen manages to be an optimistic medium who keeps Whitney from going off the rails or Fiona from tearing everything to shreds. While she’s adept when playing bass alone, she has a metric tonne of stagefright. Gwen plays a second-left-handed Squire Precision bass. She insists the best decade of music that ever happened was the 90s, with her favorites being Primus, Red Hot Chili Peppers (only the 90s Albums), Pearl Jam (ditto), Hole, and Oasis (More than just Wonderwall).
</p>

<h2 class ="engirls_font_large">Fiona Ramona Carr</h2>
<p><img src = "{% static 'images/FionaIcon-1.png' %}" class = "shadow rounded-right"></p>

<br>

<p>
	Born in Boston and raised in Scotland, this fierce half-pint can rattle insults at anyone who even slightly wrongs her, with few exceptions. Don’t let her Glaswegian attitude worry you, though, as Fiona cares about her friends to an almost infallible degree. An only child, Fiona grew up with her single father in Glasgow and was taught by her aunt to never take crap from anyone. She picked up drums at the suggestion of her school counselor to use it as an outlet for her nigh uncontrollable anger, which has had a tremendous positive effect on her school performance, even if she can only afford a Vic Firth drum pad. Her favorite bands are Nightwish, Iron Maiden, Sabaton, Ensiferum, and, surprisingly, The Fratellis.
</p>

</body>