{% extends "base.html" %}
{% block main_content %}


<div class = "page-header text-center engirls_font_large"> Privacy Policy</div>
<div class = "container">
	<div class = "row">
		<div class = "col-sm-lg">
			<div class = "shadow rounded px-4 py-4" style= "background-color: #FAFAFA; display:inline-block;">
				<div class = "">
					<div id = "privacy_policy_source"></div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
function render_privacy_policy_source(){
  //if( {{ comic_panel }} != null){
    $("#privacy_policy_source").load('/privacy_policy_source/');
   
}	

$(document).ready(function(){
  render_privacy_policy_source();
});
</script>
{% endblock %}

{% block footer %}
    {% include "footer.html" %}
{% endblock %}